
{{>header}}
<br><br><br><br><br>
<div class="container">
    <div class="alert alert-success" role="alert">
        <strong></strong> Estas logueado!
    </div>
    <br><br>
<div class="container">
    <a href="/mvc-gaucho-rocket/medico/turno"><button type="button" class="btn btn-outline-secondary">Solicitar Turno</button></a>
    <a href="/mvc-gaucho-rocket/medico"><button type="button" class="btn btn-outline-secondary">Realizar chequeo médico</button></a>


    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol del usuario</th>
        </tr>
        {{#resultado}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{rol_usuario}}</td>

        </tr>
        {{/resultado}}
    </table>
</div>
    <br>
    <a href="/mvc-gaucho-rocket/cerrarSesion"><button type="button" class="btn btn-outline-secondary">Cerrar sesión</button></a>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}
